<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    ul li{
        display: inline-block;
        border: 1px solid black;
        border-radius: 50px;
        padding: 20px;
    }
</style>
<body>
  <ul>
    <li><a href="#section1">1</a></li>
    <li><a href="#section2">2</a></li>
    <li><a href="#section3">3</a></li>
    <li><a href="#section4">4</a></li>
    <li><a href="#section5">5</a></li>
    <li><a href="#section6">6</a></li>
    <li><a href="#section7">7</a></li>
  </ul>
    <section id="section1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae doloribus, neque quas
        inventore nihil ad magnam ut iusto odio rerum modi voluptatem deserunt! Maxime architecto, harum tenetur et
        iusto illum.</section>
    <section id="section2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae doloribus, neque quas
        inventore nihil ad magnam ut iusto odio rerum modi voluptatem deserunt! Maxime architecto, harum tenetur et
        iusto illum.</section>
    <section id="section3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae doloribus, neque quas
        inventore nihil ad magnam ut iusto odio rerum modi voluptatem deserunt! Maxime architecto, harum tenetur et
        iusto illum.</section>
    <section id="section4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae doloribus, neque quas
        inventore nihil ad magnam ut iusto odio rerum modi voluptatem deserunt! Maxime architecto, harum tenetur et
        iusto illum.</section>
    <section id="section5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae doloribus, neque quas
        inventore nihil ad magnam ut iusto odio rerum modi voluptatem deserunt! Maxime architecto, harum tenetur et
        iusto illum.</section>
    <section id="section6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae doloribus, neque quas
        inventore nihil ad magnam ut iusto odio rerum modi voluptatem deserunt! Maxime architecto, harum tenetur et
        iusto illum.</section>
    <section id="section7">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae doloribus, neque quas
        inventore nihil ad magnam ut iusto odio rerum modi voluptatem deserunt! Maxime architecto, harum tenetur et
        iusto illum.</section>
</body>

</html>