* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* font-weight:; */

}

body {
    overflow-x: hidden;

}

.main {
    width: 1400px;
    max-width: 80%;
    margin: 0 auto;
}

.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(#f9d349, 20%, #d57e12);
    position: relative;
}

.hero header .lg h2 a {
    display: block;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.hero header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 30px;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px transparent;
    transition: .4s;
}

nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus {
    border-bottom: 2px solid white;

}

nav ul li.games a {
    border-bottom: 2px solid;
}

nav ul li.Download a {
    background: transparent;
    color: white;
    border: 1px solid #f5dca8;
    padding: 9px 20px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 150px;
}

nav ul li.Download:hover a {
    border: 1px solid white;
    transition: .4s;
    color: black;
    background: white;

}

.content {
    padding-top: 140px;
}

.content .text {
    z-index: 2;
    position: relative;
    margin-bottom: 50px;
}

.content .text h6 {
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 20px;

    /* top margin for the #trending content  */
    margin-top: -60px;
}

.content .text h1 {
    font-size: 100px;
    line-height: 1;
    color: white;
    margin: 0px 0px 45px;
    font-family: 'Permanent Marker', cursive;

}

.content .text h3 {
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.content .text p {
    max-width: 100%;
    width: 480px;
    color: white;
    line-height: 1.8;
    font-size: 15px;
}

.content .text a {
    display: inline-block;
    background: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 9px 25px;
    line-height: 1.4;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;

}

.content .text a:hover {
    /* transform: scale(1.2); */
    border: 1px solid#f5dca8;
    background: transparent;
    color: white;
    transition: .4s;
}

.content .text a.trailer {
    border: 1px solid#f5dca8;
    color: white;
    background: transparent;
    margin-left: 20px;

}

.content .text a.trailer i {
    margin-right: 12px;
}

.content .text a.trailer:hover {
    color: black;
    background: white;
    border: 1px solid white;
    transition: .4s;
}

.content .apps {
    position: relative;
    z-index: 2;
    margin-top: 75px;
    padding-bottom: 20px;
}

.content .apps a {
    font-size: 20px;
    display: inline-block;
    color: #f5dcac;
    margin-right: 20px;
}

.content .apps a:hover {
    transition: .4s;
    color: white;
    /* transform: scale(1.8); */

}

.image {
    position: absolute;
    width: 100%;
    height: 75%;
    bottom: 0%;
    text-align: right;
    right: 0;
}

.image img {
    height: 100%;

}

/* .content .text .apps a{
    padding-top: -12px;
} */