



.image-text {
    display: inline-block;
    position: relative;
    
    
}

.image-text .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight:lighter;
    text-align: center;
    background: radial-gradient(#198754b7, rgba(0, 0, 0, 0.623));
    background-size: cover;
    opacity: 1;
    transition: opacity 0.3s ease;
    border: 1px solid #198754;
}

.image-text:hover .text,
.image-text:active .text {
    opacity: 0;
}

.image-text .text2 a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #198754;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 60px;
    opacity: 0;
    transition: opacity 0.3s ease;
    border: 2px solid #198754;
    background: radial-gradient(#198754, black);
    text-decoration: none;
    border-radius: 50px;
    padding: 10px;
}

.image-text:hover .text2 a,
.image-text:active .text2 a {
    opacity: 1;
}


.nav2 {
    position: -webkit-sticky;
    position: sticky;
    top: 13%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    z-index: 2000;

}
.carousel-first{
    padding-top: 40px;
}
.navbar{
    padding: 10px 0;
    z-index: 1000; /* Ensure the sticky div is on top */
}
.navbar-nav a .btn-sm i{
    padding: 5px;
}