body {
    background-color: darkslategray;
}

.lg h2 a {
    display: block;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 30px;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px transparent;
    transition: .4s;
}

nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus {
    border-bottom: 2px solid white;

}

nav ul li.games a {
    border-bottom: 2px solid;
}

nav ul li.Download a {
    background: transparent;
    color: white;
    border: 1px solid #f5dca8;
    padding: 9px 20px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 150px;
}

nav ul li.Download:hover a {
    border: 1px solid white;
    transition: .4s;
    color: black;
    background: white;

}
  

.fort {
    background: radial-gradient(#f9d349, 20%, #d57e12);
}

.prince {
    background: radial-gradient(#4f838a, 20%, #0c2444);
}

.apex {
    background: radial-gradient(#cecece, 20%, #383838);
}

.lol {
    background: radial-gradient(#50cf90, 50%, #133a1f);
}


ul li {
    display: inline-block;
}

.poster {
    text-align: center;
}

.menu-bar {
    text-align: center;
    border: 1px solid rgb(5, 68, 68);
    padding: 5px;
    padding-top: 10px;
    font-size: 20px
}

.menu-bar nav ul .search input {
    border-radius: 50px;
    background: transparent;
    border: 1px solid black;
    padding: 10px;
}

.game-box {
    border: 1px solid black;
}