
nav ul li .reviews1{
    input{
        padding: 5px;
    }
    button{
        padding: 8px;
        border-radius: 50px;
        background: transparent;
        border: 1px solid white;
        color: white;

        

    }
}
nav ul li .reviews1 button:hover{
            background-color: white;
            color: black;
            transition: .5s;
            padding-left: 13px;
            padding-right: 13px;
        }

        .text form .download{
            padding: 5px;
            border-radius: 50px;
        background: transparent;
        border: 1px solid white;
        color: white;

        }
        .text form .download:hover{
            background-color: white;
            color: black;
            transition: .5s;
            padding-left: 13px;
            padding-right: 13px;
        }