
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #534c4c93;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
    padding-top: 60px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.contact-info {
    margin-bottom: 20px;
}
.contact-info p {
    margin-bottom: 10px;
}
.contact-info h2 {
    margin-top: 0;
}
.contact-form {
    margin-bottom: 20px;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.contact-form textarea {
    resize: vertical;
}
.contact-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.contact-form input[type="submit"]:hover {
    background-color: #0056b3;
}