{% extends 'base.html' %}

{% load static %}


{% block content %}

<head>

    <title>User Profile</title>
    <link rel="stylesheet" href="{%static 'css/style333.css'%}">

</head>
<style>
    .section {
        background-image: url("{%static 'images/hero-bg.jpg'%}");
    }
</style>

<body>
    <!-- <div class="container">
        <h1>User Profile</h1>
        <div class="profile">
            <div class="profile-image">
                <img src="https://via.placeholder.com/250" alt="User Avatar">
            </div>
            <div class="user-details">
                <h2>Name: {{first_name}}</h2>
                <p>Email: {{email}}</p>
               
            </div>
            <a href="{% url 'signout' %}"><button name="signout" type="submit"> Sign out</button></a>  
        </div>
    </div> -->
    <article class="new">
        <section class="section hero" id="home" aria-label="home">
            <div class="container">

                <div class="hero-content">

                    <p class="hero-subtitle">Email: {{email}}</p>

                    <h1 class="h1 hero-title">
                        Name: <span class="span">{{first_name}}</span>
                      </h1>
                    <p class="hero-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nobis labore accusamus nihil,
                        ab placeat quas nisi, voluptates sunt, fugit cupiditate omnis vitae. Ut ea repellat minus facere
                        culpa? Voluptatum.

                    </p>

                    <button class="btn skewBg">Read More about user</button>

                </div>

                <figure class="hero-banner img-holder" style="--width: 700; --height: 700;">
                    <img src="{%static 'images/latest-game-3.jpg'%}" width="700" height="700" alt="hero banner"
                        class="w-100">
                </figure>

            </div>
        </section>



    </article>
</body>

</html>
{% endblock %}